.prepaid-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 20px; /* Add margin to the left and right */
}


.prepaid-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1; /* Distribute available space equally among cards */
  height: 200px; /* Set the desired height for the cards */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
}

.card-amount {
  font-size: 24px;
  color: #0070f3;
}
.page-container {
  margin: 0 20px; /* Adjust the margin values as needed */
}

/* PrepaidCards.css */

.additional-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px; /* Add margin to the left and right */
}

.additional-text {
  flex: 1;
  text-align: left;
  padding: 20px; /* Add padding to the text content */
}

.additional-image {
  flex: 1;
  padding: 20px; /* Add padding to the image content */
}

.additional-image img {
  width: 100%; /* Set the image width to 100% of the container width */
  height: auto; /* Maintain the image's aspect ratio */
}


additional-title {
  font-size: 30px; /* Increase the font size */
  line-height: 1.2; /* Adjust line height for 3 lines */
}

additional-paragraph {
  font-size: 20px; /* Increase the font size */
}
/* PrepaidCards.css */

.pay-now-button {
  background: linear-gradient(45deg, #3498db, #2ecc71); /* Customize the gradient colors */
  color: white;
  margin-top: 20px; /* Add margin for spacing */
}
/* Styling for the horizontal bar */
.horizontal-bar {
  width: 100%;
  height: 5px; /* Set the height of the bar */
  background: linear-gradient(to right, #3498db, #2ecc71); /* Use your desired gradient colors */
}

/* Styling for the dashboard title container */
.dashboard-title-container {
  text-align: center; /* Center the text */
  background: white; /* Set a background color (you can change it) */
  display: inline-block;
  padding: 0 20px; /* Add some padding to make it more visible */
  margin-top: -15px; /* Adjust the margin to overlap the bar */
}

/* Styling for the dashboard title lines */
.dashboard-title-lines {
  border-top: 2px solid #3498db; /* Top line with your desired color */
  border-bottom: 2px solid #2ecc71; /* Bottom line with your desired color */
  line-height: 0.1; /* Ensure the lines don't take up extra space */
}
